.home-page {
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.home-main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 290px 0 0 0;
  color: #FFB700;
}

h2 {
  margin: 5px;
  font-size: 1.3rem;
}